
header {
    display: flex;
}
#stage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: gray;
    border: solid 2px black;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 1200px;
    height: 394px;
}
.bar {
    background-color: light;
}